
.banner-1920x390-content {
  position: relative;
  background: linear-gradient(90deg,rgba(0,0,0,0.5), rgba(0,0,0,0) 80%);
  border: #000 1px solid;
  width: 1920px;
  height: 390px;

}
.banner-1300x435-content {
  position: relative;
  border: #000 1px solid;
  width: 1300px;
  height: 435px;
  background: linear-gradient(90deg,rgba(0,0,0,0.5), rgba(0,0,0,0) 80%);
}

.banner-440x770-content {
  position: relative;
  border: #000 1px solid;
  width: 440px;
  height: 770px;
  background: linear-gradient(90deg,rgba(0,0,0,0.5), rgba(0,0,0,0) 80%);
}


.banner-1920x390-content .banner-pic img {
  object-fit: cover;
 box-sizing: border-box;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 390px;
  width: 1920px;
}

.banner-1300x435-content .banner-pic img {
  object-fit: cover;
  box-sizing: border-box;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 435px;
  width: 865px;
}

.banner-440x770-content .banner-pic img {
  object-fit: cover;
  width: 440px;
  height: 100%;    
  box-sizing: border-box;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 770px;
  max-width: 440px;
}

.banner-440x770-content   .banner-text {
  padding: 100px 30px;
}

  .banner-text {
    max-width: 1200px;
    margin: auto;
    color: #fff;
    padding: 100px 0px;
  }
  .banner-text p {
    margin: 0;
    text-transform: uppercase;
    font: normal normal medium 18px/22px Adobe Clean;
  }
  
  .banner-text h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
    font: normal normal 900 48px/52px Adobe Clean;
  }
  
  .banner-text h3 {
    margin: 0;
    font: normal normal 300 48px/52px Adobe Clean;
  }
  

  
  
  