
.signage-1080x1920-content {
  position: relative;
  background: linear-gradient(90deg,rgba(0,0,0,0.5), rgba(0,0,0,0) 80%);
  border: #000 1px solid;
  width: 1080px;
  height: 1920px;

}

.signage-1080x1920-content .signage-pic img {
  object-fit: cover;
  width: 100%;
  height: 100%;    
  box-sizing: border-box;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 1920px;
  max-width: 1080px;
}


.signage-text {
  max-width: 1200px;
  margin: 0 60px;
  color: #fff;
  padding: 100px 0px;
}

.signage-text p {
  margin: 0;
  text-transform: uppercase;
  font: normal normal medium 18px/22px Adobe Clean;
}

.signage-text h1 {
  margin: 0;
  font: normal normal 900 72px/52px Adobe Clean;
}

.signage-text h3 {
  margin: 0;
  font: normal normal 300 48px/52px Adobe Clean;
}


