:root {
  --body-font-family: 'helvetica neue', helvetica, ubuntu, roboto, noto, sans-serif;
}

html,
body {
  margin: 0;
  padding: 5px;
}

a.button:any-link, button {
    font-family: var(--body-font-family);
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 5px 30px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    background-color: #035fe6;
    margin: 16px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 30px;
}