:root {
  --body-font-family: 'Adobe Clean', helvetica, ubuntu, roboto, noto, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0 15px;
}

h1,h4 {
  font-weight: 400;
}

a.button:any-link, button {
    font-family: var(--body-font-family);
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 5px 30px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    color: #000;
    background-color: #CBE7F0;
    margin: 16px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 30px;
}

@font-face {
  font-family: 'adobe-clean';
  font-style: normal;
  font-weight: normal;
  src: local('Adobe Clean'), url('../fonts/AdobeClean-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'adobe-clean';
  font-style: normal;
  font-weight: 700;
  src: local('Adobe Clean Black'), url('../fonts/AdobeClean-Black.otf') format('opentype');
}
