
.banner-1920x390-content {
  position: relative;
  background: linear-gradient(90deg,rgba(0,0,0,0.5), rgba(0,0,0,0) 80%);
  border: #000 1px solid;
  width: 1920px;
  height: 390px;

}

.banner-1920x390-content .banner-pic img {
  object-fit: cover;
  box-sizing: border-box;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 390px;
  width: 1920px;
}

/* 1300 */

.banner-1300x435-content {
  position: relative;
  border: #000 1px solid;
  width: 1300px;
  height: 435px;

}

.banner-1300x435-content .banner-pic {
  display: flex;
  justify-content: space-between;
  width: 1300px;
  height: 435px;
}

.banner-1300x435-content .banner-text {
  background: linear-gradient(90deg,rgba(0,0,0,0.5), rgba(0,0,0,0) 80%);
  margin: 0;
  padding: 140px 60px 60px 60px;
  margin-top: -435px;
  max-width: 1200px;
  color: #fff;
  height: 435px;
}

.banner-1300x435-content .banner-pic .pic {
  width: 865px;
  box-sizing: border-box;
  height: 435px;
}

.banner-1300x435-content .banner-pic .pic img {
  object-fit: cover;
  box-sizing: border-box;
  position: relative;
  height: 435px;
  width: 865px;
  z-index: -1;
}

.banner-1300x435-content .banner-pic .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 435px;
}

.banner-1300x435-content .banner-pic .logo img {
  width: 200px;
}

/* 440 */

.banner-440x770-content {
  position: relative;
  background-color: #fff;
  border: #000 1px solid;
  width: 440px;
  height: 770px;
  box-sizing: border-box;
  background: linear-gradient(0deg,rgba(0,0,0,1), rgba(0,0,0,0) 80%);
}

.banner-440x770-content .banner-pic {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 0px;
  width: 440px;
  height: 770px;
  z-index: -1;
}

.banner-440x770-content .banner-pic .pic img {
  object-fit: cover;
  width: 440px;
  height: 680px;    
  box-sizing: border-box;
  max-height: 680px;
  max-width: 440px;
}

.banner-440x770-content .banner-pic .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 88px;
  width: 440px;
}

.banner-440x770-content .banner-pic .logo img {
  height: 40px;
  object-fit: contain;
}

.banner-440x770-content .banner-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 30px;
  margin-top: -682px;
  height: 682px;
  z-index: 1;
}

.banner-440x770-content .banner-text h3 {
  font-size: 23px;
  line-height: 35px;
}

.banner-440x770-content .banner-text h1 {
  font-size: 28px;
  line-height: 28px;
}

.banner-440x770-content .banner-text p {
  font-size: 12px;
  line-height: 40px;
}

.banner-440x770-content .banner-text .button-container {
  margin:0;
  font-size: 16px;
  line-height: 22px;
}

/* email */
.wrapper {
  display: flex;  
  flex-flow: column wrap;
  font-weight: bold;
}

.wrapper > * {
  flex: 1 100%;
}

.email-1920x450-content {
  position: relative;
  border: #000 1px solid;
  width: 1920px;
  height: 450px;
}

.email-1920x450-content .email-pic {
  display: flex;
  justify-content: space-between;
  width: 1920px;
  height: 420px;
}

.email-1920x450-content .email-pic img {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.email-1920x450-content .email-text {
  display: flex;
  flex-flow: column wrap;
  
  justify-content: flex-end;
  background: rgba(23,28,41,1);
  margin-top: -120px;
  padding: 0px 60px 20px 60px;
  box-sizing: initial;
  color: #fff;
  height: 128px;
  border-bottom-right-radius: 25px; 
  border-bottom-left-radius: 25px; 
  position: relative;
}

.email-1920x450-content .email-text h1 {
  white-space: nowrap;
  line-height: 52px;
  text-align: left;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(255,255,255,1);
}
.email-1920x450-content .email-text h3 {
  white-space: nowrap;
  line-height: 52px;
  margin-top: -26px;
  text-align: left;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(255,255,255,1);
}
.email-1920x450-content .email-text .button-container {
  display: flex;
  justify-content: flex-end;
}

.email-1920x450-content .email-text .button-container .button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #CBE7F0;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-family: Adobe Clean;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(44,44,44,1);
  border-radius: 25px;
}

.email-1920x450-content .email-pic .pic {
  width: 865px;
  box-sizing: border-box;
  height: 435px;
}

.email-1920x450-content .email-pic .pic img {
  object-fit: cover;
  box-sizing: border-box;
  position: relative;
  height: 435px;
  width: 865px;
  z-index: -1;
}

.email-1920x450-content .email-pic .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 435px;
}

.email-1920x450-content .banner-pic .logo img {
  width: 200px;
}


/* default */

  .banner-text {
    max-width: 1200px;
    margin: auto;
    color: #fff;
    padding: 100px 0px;
  }
  .banner-text p {
    margin: 0;
    text-transform: uppercase;
    font: normal 400 18px/22px Adobe Clean;
    color: rgba(255,255,255,0.6);
  }
  
  .banner-text .button-container {
    text-transform: none;
    font: normal 400 18px/22px Adobe Clean;
    margin: 20px 0px;
  }

  .banner-text h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
    font: normal normal 900 48px/62px Adobe Clean;
    margin-bottom: 10px;
  }
  
  .banner-text h3 {
    margin: 0;
    font: normal normal 300 48px/52px Adobe Clean;
  }
  

  
  
  